/* nav-bar start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}
body{
    font-family: sans-serif;
   
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

/* navbar styling */
.navbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
}

/* logo style  */
.logo img{
    height: 8rem;
    border-radius: 100%;
}

.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: black;
   cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: #eee;
    font-weight: 600;

}
.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: #ccc;
}

.hide{
    display: none;
}

/* for Desktop view  */
@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color: #ccc;
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
}
/* nav-bar end */

/* carousels start */
.contaner-fluid{
            margin: 0;
            width: 95%;
            height: 50%;
            margin: 2rem;
            display: flex;
            justify-content: center;
            align-items: center; 
            background-image: url('r1.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            overflow: hidden;
            padding: 5rem;
}
form {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(17, 16, 17, 0.5); 
    color: white; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    width: 300px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button{
    background-color: rgba(17, 16, 17, 0.5);
    color: white;
    cursor: pointer;
    text-align: center;
}

/* carousels end */
/* cars-data */
.cars-data{
    grid-template-columns:repeat(1fr,1fr,1fr);
}

/*footer section*/
.footerSection {
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;

}
.footerInfo {
    flex-grow: 1;
    flex-basis: 200;
}
.footerInfo>a:hover{
    color: skyblue;
}

.footerInfoHeading{
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem !important;
    color: black;
}
/* end locations */
.footerExtras {
    margin-top: 0.35px;
    background-color: #172337;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1719px;
    height: 70px;
    color: #ffffff;
    font-size: 14px;
    line-height: 2;
    padding-left: 25px;
    padding-right: 10px;
    cursor: pointer;
}
.fa-solid{
    color:yellow
}
/*feedback*/
.feedback{
    display: flex;
    height: 200px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: beige;
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    flex-wrap: wrap;
}
.back{
    text-align: center;
    flex-grow: 1;
    flex-basis: 200;
}
.bi{
    font-size: 2rem; /* Adjust the size as needed */
}
/*information*/
.matter{
    background-color: #1a1a1a;
    padding: 20px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.matter h2 {
    text-align: left;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
}
.one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.9;
    display: flex;
    
}
 .one div {
    width: 30%;
    flex-grow: 1;
    flex-basis: 200;
} 
.one h3 {
    font-size: 1.1em;
    border-bottom: 1px solid #333;
     margin-bottom: 10px; 
    color: white;
}
.one li {
  color: #878787;
  cursor: pointer;
  transition: color 0.3s ease;
}  
.one li:hover{
    color:white
}
/* filename: style.css */
.review {
    background: rgb(145, 226, 188);
    height: auto;
    width: 270px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px #32917d;
    align-items: center;
}

.review__items {
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    padding: 10px;
    align-items: center;
}

.review__items img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
}

.review__items h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.review__items p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.review__button {
    text-align: center;
    padding: 10px;
}

.review__button button {
    color:  #28a745;
    background: green;
    font-weight: bold;
}

.review__items {
    display: none;
}